#background {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 800px;
    align-items: center;
}

#body {
    background-color: grey;
    display: flex;
    height: 700px;
    width: 500px;
    border-radius: 20px;
    flex-wrap: wrap;
    border: 2px solid rgb(19, 19, 19);
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    row-gap: 10px;
}

#screen{
    background-color: green;
    height: 100px;
    width:460px;
    display: flex;
    border-radius: 20px;
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 50px;
    align-items: center;
   justify-content: flex-end;
}

#button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 30px;
    position: relative;
    top:140px;
    left: -20px;
    font-size: 30px;
    
}

#button:hover {
   transform: 1;
   
}

#button1 {
    height: 260px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    margin-left: 30px;
    left: 351px;
    bottom: 405px;
    font-size: 30px;
    align-items: center;
   justify-items: center;
}
#button2 {
    height: 260px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    left: 251px;
    bottom: 130px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}